{% extends 'base.html.twig' %}


{% block title %} Mot de passe oublié | {{ parent() }} {% endblock %}



{% block body %}

<div class="container">
    <h1 class="text-center">Mot de passe oublié</h1>
        <div class="justify-content-center py-5">
        <p>Question: {{ security.question }}</p>

        <form action="{{ path('security_recover', {'id': security.id  })  }}" method="POST">
        <div class="form-group">
        <p>Réponse: <input placeholder="Attention aux majuscules dans votre réponse! La réponse doit être identique à celle donnée au préalable!" required name="reponse" type="text" class="form-control"><p>
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-success">Valider</button>
        </div>
        </form>

        </div>
</div>


{% endblock %}