{% extends 'base.html.twig' %}


{% block title %} Connexion | {{ parent() }} {% endblock %}



{% block body %}

<h1 class="text-center">Connexion</h1>
<div class="container">
    <div class="row justify-content-center">
        <form action="{{ path('security_connexion') }}" method="post">
            <div class="form-group">
                <input placeholder="Pseudo" required name="_username" type="text" class="form-control">
            </div>
            <div class="form-group">
                <input placeholder="Mot de passe" required name="_password" type="password" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Connexion</button>
            </div>
        </form>
    </div>
</div>
<h5 class="text-center"> <a href="{{ path('security_lost') }}">Mot de passe oublié</a> </h5>

{% endblock %}