{% extends 'base.html.twig' %}


{% block title %} Dashboard | {{ parent() }} {% endblock %}



{% block body %}

<div class="container">
    <h1 class="text-center">Tableau de bord</h1>
        <div class="row justify-content-center py-5">
            <div class="col-lg-4">
                <a href="{{ path('security_edituser', {'id': app.user.id}) }}"> Modifier mes informations </a>
            </div>
            <div class="col-lg-4">
                <a href="{{ path('security_password', {'id': app.user.id}) }}"> Modifier mon mot de passe </a>
            </div>
            <div class="col-lg-4">
                <a href="{{ path('security_security', {'id': app.user.id}) }}"> Modifier mes info de sécurité </a>
            </div>
        </div>
        <div class="row justify-content-center py-5">
        Pensez à enregistrer et à garder à jour vos info de sécurité !!!
        </div>
</div>


{% endblock %}