{% extends 'base.html.twig' %}


{% block title %} Editer les info | {{ parent() }} {% endblock %}


{% block body %}

<h1> Editer les info</h1>

<div class="container">
    <div class="row">
        <div class="col lg-6">

            {{ form_start(formedituser) }}

            {{ form_widget(formedituser) }}

            <button type="submit" class="btn btn-success">Soumettre</button>

            {{ form_end(formedituser) }}

        </div>
    </div>
</div>

{% endblock %}