{% extends 'base.html.twig' %}


{% block title %} Inscription | {{ parent() }} {% endblock %}


{% block body %}

<h1 class="text-center">Inscription</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">

            {{ form_start(formUser) }}

            {{ form_row(formUser.username, {'label': 'Pseudo', 'attr': {'placeholder': "Entrez votre pseudo"}}) }}

            {{ form_row(formUser.nom, {'attr': {'placeholder': "Entrez votre nom"}}) }}

            {{ form_row(formUser.prenom, {'label': 'Prénom', 'attr': {'placeholder': "Entrez votre prénom"}}) }}

            {{ form_row(formUser.age, {'label': 'Age', 'attr': {'placeholder': "Entrez votre age"}}) }}

            {{ form_row(formUser.password, {'label': 'Mot de passe', 'attr': {'placeholder': "Entrez votre mot de passe"}}) }}

            {{ form_row(formUser.confirm_password, {'label': 'Confirmation du mot de passe', 'attr': {'placeholder': "Confirmez le mot de passe"}}) }}

            <button type="submit" class="btn btn-success">S'inscrire</button>

            {{ form_end(formUser) }}

        </div>
    </div>
</div>

{% endblock %}