{% extends 'base.html.twig' %}


{% block title %} Mot de passe oublié | {{ parent() }} {% endblock %}



{% block body %}

<div class="container">
    <h1 class="text-center">Mot de passe oublié</h1>
        <div class="row justify-content-center py-5">

        <p></p>

            <form action="{{ path('security_check') }}" method="POST">
            <div class="form-group">
                <input placeholder="Email" required name="email" type="text" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Valider</button>
            </div>
        </form>

        </div>
</div>


{% endblock %}