{% extends 'base.html.twig' %}


{% block title %} Changer password | {{ parent() }} {% endblock %}



{% block body %}

<div class="container">
    <h1 class="text-center">Changement du mot de passe</h1>
        <div class="row justify-content-center py-5">

            {{ form_start(form) }}

            {{ form_widget(form) }}

            <button type="submit" class="btn btn-primary"> Modifier mon mot de passe </button>

            {{ form_end(form) }}

        </div>
</div>


{% endblock %}