{% extends 'base.html.twig' %}


{% block title %} A propos | {{ parent() }} {% endblock %}


{% block body %}

<div class="container">

        <h1 class="text-center">A propos</h1>
    <div class="row justify-content-center py-5">
            <div class="col-lg-6">
                <img src="https://cdn-media.rtl.fr/cache/gxgDstg9FMbr2zcDHU4sHQ/880v587-0/online/image/2019/1206/7799634528_une-carte-illimite-ugc-illimite-21-90-mois-ou-gaumont-pathe-22-90-mois-pour-les-amoureux-des-salles-obscures-les-offres-sont-plus-interessante-pour-des-cartes-duo.jpg" width=500 alt="">
            </div>
            <div class="col-lg-6">
                <p>Suspendisse at nulla vel risus venenatis vehicula. Maecenas dictum nunc ut dui luctus iaculis. Morbi elementum, orci eu aliquam imperdiet, lectus neque aliquam est, non tincidunt sem nisl a orci. Sed vitae elementum tellus. Curabitur in erat dictum, laoreet lectus vel, volutpat elit. Fusce feugiat molestie ligula, quis finibus ante lobortis quis. Praesent pellentesque felis vitae congue volutpat. Sed ultrices sollicitudin interdum. Phasellus id dignissim elit, a ornare ante. Nullam quis viverra orci, id finibus quam. Nunc quam diam, pretium placerat aliquam et, sollicitudin id eros. Cras aliquam ante non nisl rutrum, non feugiat urna placerat. Sed posuere elit ligula, eu aliquam tortor ultricies vel. Etiam blandit malesuada ipsum non blandit. Etiam placerat, odio vel semper blandit, libero orci imperdiet velit, quis egestas velit mauris nec ligula. Duis tincidunt sem ullamcorper dapibus feugiat.</p>
            </div>
    </div>
</div>


{% endblock %}