{% extends 'base.html.twig' %}


{% block title %} Liste des films | {{ parent() }} {% endblock %}


{% block body %}

<div class="container">
<div class="row justify-content-center">

{% for films in films %}

    <div class="col-4 py-4">
        <h2>{{ films.titre }}</h2>
            <img src="{{ films.image }}" width=350 alt="">
        <div class="py-2">
            <span>Réalisateur :</span>{{ films.realisateur | raw }}
            </br>
            <span>Année :</span>{{ films.annee | raw }}
            </br>
            <span>Durée : </span>{{ films.duree }}
            </br>
            <span>Acteurs : </span>{{ films.acteurs }}
            </br>
            <a href="{{ path('voirfilm', {'id': films.id}) }}" class="btn btn-primary">Voir</a>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_editfilm', {'id': films.id}) }}" class="btn btn-warning">Editer</a>
            <a href="{{ path('admin_deletefilm', {'id': films.id}) }}" class="btn btn-danger">Supprimer</a>
            {% endif %}
        </div>
    </div>


{% endfor %}

</div>
</div>

{% endblock %}