{% extends 'base.html.twig' %}


{% block title %} Détail d'un film | {{ parent() }} {% endblock %}


{% block body %}

<div class="container">
<div class="row justify-content-center">

    <div class="col-6">
        <h2 class="text-center">{{ films.titre }}</h2>
            <img src="{{ films.image }}" width=350 alt="">
        <div class="py-2">
            <span>Réalisateur :</span>{{ films.realisateur | raw }}
            </br>
            <span>Année :</span>{{ films.annee | raw }}
            </br>
            <span>Durée : </span>{{ films.duree }}
            </br>
            <span>Acteurs : </span>{{ films.acteurs }}
            </br>
            <span>Description :</span>{{ films.description | raw }}
            </br>
            <a href="{{ path('films') }}" class="btn btn-primary">Retour</a>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_editfilm', {'id': films.id}) }}" class="btn btn-warning">Editer</a>
            <a href="{{ path('admin_deletefilm', {'id': films.id}) }}" class="btn btn-danger">Supprimer</a>
            {% endif %}
        </div>
    </div>

    <div class="col-6">
    <h2 class="text-center">{{ films.recommandations | length }} Avis et recommandations</h2>

    {% for avis in avis %}

    <article>
            <h3>{{ avis.user.username }}</h3>
                <div class="content">
                <span>Posté le : {{ avis.date | date('d/m/Y')}}</span>
                </br>
                <span>Note : {{ avis.note }} </span>
                </br>
                <p>{{ avis.avis | raw }}</p>
                </div>
        </article>

    {% endfor %}
    </div>

</div>

{% if (app.user) %}
<div class="row justify-content-center">
<h2 class="text-center">Laisser un avis</h2>
<div class="container">
<div class="row justify-content-center py-5">

{{ form_start(avisForm) }}
{{ form_row(avisForm.note) }}
{{ form_row(avisForm.avis, {'label': 'Laisser un avis', 'attr': {'style': 'width:350px; height:250px' , 'placeholder': "Donnez votre avis!"}}) }}
<button type="submit" class="btn btn-success">Laisser un avis</button>
{{ form_end(avisForm) }}
</div>
{% endif %}
</div>

{% endblock %}