{% extends 'base.html.twig' %}


{% block title %} Gestion des films | {{ parent() }} {% endblock %}


{% block body %}

<h1> Création d'un film</h1>

<div class="container">
    <div class="row">
        <div class="col lg-6">

            {{ form_start(formFilm) }}

            {{ form_widget(formFilm) }}

            <button type="submit" class="btn btn-success">Soumettre</button>

            {{ form_end(formFilm) }}

        </div>
    </div>
</div>

{% endblock %}