{% extends 'base.html.twig' %}


{% block title %} Gestion des utilisateurs | {{ parent() }} {% endblock %}


{% block body %}

<h1 class="text-center">Gestion des utilisateurs</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Age</th>
      <th scope="col">Admin</th>
    </tr>
  </thead>

{% for user in user %}

  <tbody>
    <tr class="table-active">
      <td>{{ user.username | raw }}</td>
      <td>{{ user.nom | raw }}</td>
      <td>{{ user.prenom | raw }}</td>
      <td>{{ user.age }}</td>
{% if ("ROLE_ADMIN" in user.roles) %}
      <td><a href="{{ path('admin_editrole', {'id': user.id}) }}" class="btn btn-success">Passer User</a></td>
{% else %}
      <td><a href="{{ path('admin_editrole', {'id': user.id}) }}" class="btn btn-danger">Passer Admin</a></td>
{% endif %}
      <td><a href="{{ path('admin_deleteuser', {'id': user.id}) }}" class="btn btn-danger">Supprimer</a></td><td><a href="{{ path('security_edituser', {'id': user.id}) }}" class="btn btn-danger">Voir</a></td>
    </tr>
  </tbody>
{% endfor %}

</table>


{% endblock %}