{% extends 'base.html.twig' %}


{% block title %} Détail user| {{ parent() }} {% endblock %}


{% block body %}

<div class="container">
<div class="row justify-content-center">

    <div class="col-4">

        <div class="py-2">

            {{ form_start(formedituser) }}

            {{ form_widget(formedituser) }}

            <button type="submit" class="btn btn-warning">Valider</button>
            <a href="{{ path('admin_deleteuser', {'id': user.id}) }}" class="btn btn-danger">Supprimer</a>

            {{ form_end(formedituser) }}

        </div>
    </div>

</div>
</div>

{% endblock %}