<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MovieFilms{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">MovieFilms</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('films') }}">Films</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('home') }}">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('about') }}">A propos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_users') }}">Gestion des utilisateurs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_films') }}">Gestion des films</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">

        {% if app.user %}
        <li class="nav-item">
        <a class="nav-link" href="{{ path('security_dashboard') }}">Dashboard</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('security_deconnexion') }}">Se déconnecter</a>
        </li>

        {% else %}

        <li class="nav-item">
            <a class="nav-link" href="{{ path('security_connexion') }}">Se connecter</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('security_inscription') }}">S'inscrire</a>
        </li>

        {% endif %}
  </div>
</nav>


        {% block body %}

        {% endblock %}


        {% block javascripts %}{% endblock %}
    </body>
</html>
